<?xml version="1.0"?><robot name="ambulance"><link name="base_link"><visual><geometry><box size="4.8 2.1 1.9"/></geometry><material name="white"><color rgba="1 1 1 1"/></material></visual><collision><geometry><box size="4.8 2.1 1.9"/></geometry></collision><inertial><mass value="2300"/><inertia ixx="1500" iyy="4500" izz="5000" ixy="0" ixz="0" iyz="0"/></inertial></link><link name="lidar_link"/><joint name="lidar_joint" type="fixed"><parent link="base_link"/><child link="lidar_link"/><origin xyz="1 0 1.3"/></joint></robot>
